In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('abalone.csv')

In [5]:
data.shape

(4176, 9)

In [7]:
train = data.sample(3000)

In [10]:
idx = train.index

In [17]:
len(set(data.index) - set(idx))

1176

In [23]:
test_idx = set(data.index) -set(idx)

In [25]:
test = data.loc[test_idx,:]

In [28]:
train.index

Int64Index([2964, 2147, 3105,  729,   65, 1927, 3079, 3221, 3037, 1800,
            ...
            4133, 1556,   22, 2781, 4165, 4168, 3841, 1897,  345, 3613],
           dtype='int64', length=3000)

In [27]:
test.index

Int64Index([   0,    1, 2048,    3, 2051, 2052,    6, 2055,    8, 2058,
            ...
            4077, 2031, 4078, 4079, 4082, 4086, 4088, 4089, 4092, 2045],
           dtype='int64', length=1176)

In [8]:
tmp = [1,2,2]

In [9]:
tmp.remove(2)

In [10]:
tmp

[1, 2]

In [4]:
data.head()

,sex,length,diameter,height,whole_height,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

In [5]:
data['length'].describe()

count    4176.000000
mean        0.524009
std         0.120103
min         0.075000
25%         0.450000
50%         0.545000
75%         0.615000
max         0.815000
Name: length, dtype: float64